* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
}

@import url("https://fonts.cdnfonts.com/css/the-monster");

body {
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header */
header {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header .title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px dotted white;
  border-bottom-style: outset;
}

header .title h1 {
  font-size: 1.8rem;
  font-family: "The Monster", sans-serif;
}

header .title img {
  width: 60px;
}

/* Section */
section {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .section-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section .section-container .box {
  width: 130px;
  height: 130px;
  border: 1px solid white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

section .section-container .box .cat {
  background-image: url("./photo/cat.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

section .section-container .box .beast {
  background-image: url("./photo/beast.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

section .section-container .box .bee {
  background-image: url("./photo/bee.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

section .section-container .box .dog {
  background-image: url("./photo/dog.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

section .section-container .box .dragon {
  background-image: url("./photo/dragon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

section .section-container .box .goat {
  background-image: url("./photo/goat.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

section .section-container .box .hamster {
  background-image: url("./photo/hamster.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

section .section-container .box .monster {
  background-image: url("./photo/monster.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* Description */

.short-description {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.short-description .desc-title {
  margin-bottom: 10px;
  font-family: "The Monster", sans-serif;
}

.short-description .desc-p {
  width: 80%;
}

.short-description .desc-p p {
  text-align: justify;
}

/* Footer */
footer {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .footer-wrapper {
  margin-bottom: 10px;
}

footer .footer-wrapper h2 {
  font-family: "The Monster", sans-serif;
}

footer .logo {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

footer .logo ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

footer .copy-rights small {
  font-family: "The Monster", sans-serif;
}

/* This is for iphone x ... above */
@media only screen and (min-width: 390px) and (min-height: 844px) {
  header .title h1 {
    font-size: 1.8rem;
  }

  section {
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  section .section-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .short-description {
    height: 20vh;
  }
  footer {
    height: 15vh;
  }
  footer .footer-wrapper h2 {
    font-size: 1rem;
  }
}
